<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PHQ9 Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--
    <p>
        If you checked off any problems, how difficult have those problems made it for you to:
        Do your work, take care of things at home, or get along with other people?
    </p>
    <iframe src="/q10Answer" frameborder="0"></iframe>
-->

<table>
    <thead>
    <tr>
        <th height="60">
            If you checked off any problems, how difficult have those problems made it for you to:<br/>
            Do your work, take care of things at home, or get along with other people?
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <iframe src="/q10Answer" scrolling="no" frameborder="0"></iframe>
        </td>
    </tr>
    </tbody>
</table>

<br/><br/>
<a href="/submit">Submit</a>

</body>
</html>