<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PHQ9 Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <thead>
    <tr>
        <th height="40">Question 6: Feeling bad about yourself - or that you're a failure or have let yourself or your family down</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <iframe src="/genericAnswer" scrolling="no" frameborder="0"></iframe>
        </td>
    </tr>
    </tbody>
</table>

<br/><br/>
<a href="/next?currentQ=6">Next</a>

</body>
</html>