<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PHQ9 Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <thead>
    <tr>
        <th height="40">Question 7: Trouble concentrating on things, such as reading the newspaper or watching television</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <iframe src="/genericAnswer" scrolling="no" frameborder="0"></iframe>
        </td>
    </tr>
    </tbody>
</table>

<br/><br/>
<a href="/next?currentQ=7">Next</a>

</body>
</html>