<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PHQ9 Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table>
    <thead>
    <tr>
        <th height="60">
            Question 8: Moving or speaking so slowly that other people could have noticed.<br/>
            Or, the opposite - being so fidgety or restless that you have been moving around a lot more than unsual
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <iframe src="/genericAnswer" scrolling="no" frameborder="0"></iframe>
        </td>
    </tr>
    </tbody>
</table>

<br/><br/>
<a href="/next?currentQ=8">Next</a>

</body>
</html>